<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="field">
        <%= form.label :nickname %>
        <%= form.text_field :nickname %>
      </div>
      <% if current_user.role=="admin" %>
        <%= form.hidden_field :role, value: 'admin' %>
      <% else %>
        <%= form.hidden_field :role, value: 'user' %>
      <% end %>

      <div class="field">
        <%= form.label :name %>
        <%= form.text_field :name %>
      </div>

      <div class="field">
        <%= form.label :last_name %>
        <%= form.text_field :last_name %>
      </div>

      <div class="field">
        <%= form.label :bio %>
        <%= form.text_field :bio %>
      </div>

      <div class="field">
        <%= form.label :location %>
        <%= form.text_field :location %>
      </div>

      <div class="field">
        <%= form.label :profession %>
        <%= form.text_field :profession %>
      </div>
      <div class="field">
      <%= form.label :profile_pic %>
      <%= form.file_field :profile_pic %>
      </div>
    </div>

    <div class="field">
      <%= form.label "Password: (Put the same as before if you don't want to change it)" %>
      <%= form.password_field :password %>
    </div>
    <%= form.submit "Update", class: 'btn btn-primary' %>
  </div>
<% end %>