<% if user_signed_in?  %>
  <% if current_user.role=="admin"%>
    <p id="notice"><%= notice %></p>
    <div class="page-header">
      <h1>Registered Users</h1>
    </div>

    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th>Nickname</th>
          <th>Email</th>
          <th>Role</th>
          <th>Last sign in</th>
          <th colspan="4"></th>
        </tr>
      </thead>

      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= user.nickname %></td>
            <td><%= user.email %></td>
            <td><%= user.role %></td>
            <td><%= user.last_sign_in_at %></td>
            <td><%= link_to 'Show', user %></td>
            <td>
              <% if user.role=='user' %>
                <%= link_to("Make Admin", user_path(user,"user[role]" => "admin"), :method => :put, :confirm => "Are you sure?") %>
                        <% if false %>
                        <%= form_with(model: user, local: true, action: 'make_admin') do |form| %>
                          <%= form.hidden_field :role, value: 'admin' %>
                          <%= form.submit "Make Admin", class: 'btn btn-primary' %>
                          <% end %>
                        <% end %>
              <% end %>
            </td>
            <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <br>
    <%= link_to 'Create a new registered user', new_user_registration_path %>
  <% else %>
    <p>You don't have access to this page.</p>
  <% end %>
<% else %>
  <p>You don't have access to this page.</p>
<% end %>
