<% if user_signed_in?  %>
  <% if current_user.role=="admin"%>
    <div class="page-header">
      <h1>Registered Users</h1>
    </div>

    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th>Nickname</th>
          <th>Email</th>
          <th>Role</th>
          <th>Last sign in</th>
          <th colspan="4"></th>
        </tr>
      </thead>

      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= user.nickname %></td>
            <td><%= user.email %></td>
            <td><%= user.role %></td>
            <td><%= user.last_sign_in_at %></td>
            <td><%= link_to 'Show', user, class: "btn btn-primary" %></td>
            <td>
              <% if user.role=='user' %>
                <%= form_for(user, method: :put, url: {action: 'make_admin'}) do |form| %>
                  <%= form.hidden_field :id, value: user.id %>
                  <%= form.submit "Make Admin", class: 'btn btn-primary' %>
                <% end %>
              <% else %>
                <%= form_for(user, method: :put, url: {action: 'remove_admin'}) do |form| %>
                  <%= form.hidden_field :id, value: user.id %>
                  <%= form.submit "Remove admin privileges", class: 'btn btn-primary' %>
                <% end %>
              <% end %>
            </td>
            <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-primary"%></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <br>
  <% else %>
    <p>You don't have access to this page.</p>
  <% end %>
<% else %>
  <p>You don't have access to this page.</p>
<% end %>
