<p id="notice"><%= notice %></p>

<div class="row jumbotron">
  <img src="" class="img-circle" alt="profile picture">
  <div>
    <p>
      <strong>Username:</strong>
      <%= @user.nickname %>
      <%= link_to 'Edit', edit_user_path(@user) %>
    </p>

    <p>
      <strong>Name:</strong>
      <%= @user.name %>
      <%= @user.last_name %>
      <%= link_to 'Edit', edit_user_path(@user) %>
    </p>

    <p>
      <strong>Email:</strong>
      <%= @user.email %>
      <%= link_to 'Edit', edit_user_path(@user) %>
    </p>
  </div>
  <div>
    <p>
      <strong>Profession:</strong>
      <%= @user.profession %>
      <%= link_to 'Edit', edit_user_path(@user) %>
    </p>
    <p>
      <strong>Location:</strong>
      <%= @user.location %>
      <%= link_to 'Edit', edit_user_path(@user) %>
    </p>
  </div>
  <div>
    <div>
      <%= link_to 'Follow', register_path, class: "btn btn-primary" %>
    </div>
    <div>
      <%= link_to 'Block', register_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>

<div class="data_field">
  <p>
    <strong>Biography:<br></strong>
    <%= @user.bio %>
    <%= link_to 'Edit', edit_user_path(@user) %>
  </p>
</div>

<div>
  <div>
    <strong>Following:<br></strong>
    <% @followings = FollowUser.where(follower: @user.id) %>
    <% @followings.each do |follow| %>
      <h1>
        <%= link_to follow.followed.name , user_path(follow.followed) %>
      </h1>
    <% end %>
  </div>
</div>