<div class="row jumbotron">
  <div style="width: 18%" class="img-with-text">
    <%= image_tag(@user.user_avatar, border: 0, size: "150x150") %>
  </div>
  <div style="width: 28%">
    <p>
      <strong>Username:</strong>
      <%= @user.nickname %>
    </p>

    <p>
      <strong>Name:</strong>
      <%= @user.name %>
      <%= @user.last_name %>
    </p>

    <p>
      <strong>Email:</strong>
      <%= @user.email %>
    </p>
  </div>
  <div style="width: 28%">
    <p>
      <strong>Profession:</strong>
      <%= @user.profession %>
    </p>
    <p>
      <strong>Location:</strong>
      <%= @user.location %>

    </p>
    <% if user_signed_in?  %>
      <% if current_user==@user or current_user.role=="admin" %>
        <h4><%= link_to 'Edit Profile', edit_user_path(@user) %></h4>
      <% end %>
    <% end %>
  </div>
  <% if user_signed_in?  %>
    <% if current_user==@user %>

    <% else %>
      <div style="width: 18%">
        <div>
          <%= link_to 'Follow', register_path, class: "btn btn-primary" %>
        </div>
        <div>
          <%= link_to 'Block', user_blocks_path(@user), method: :post, class: "btn btn-primary" %>
        </div>
        <div>
          <% if current_user.role=="admin" and @user.role == "user" %>
            <%= link_to 'Convert user to admin',{:controller => "users", :action => "make_admin", :id => @user.id, :user_id => @user.id}, class: "btn btn-primary" %>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<div class="data_field">
  <p>
    <h3>Biography:<br></h3>
    <%= @user.bio %>
  </p>
</div>
<div>
  <h3><%= @user.nickname %>'s Complaints:</h3>
  <% posts = Post.where(user_id: @user.id) %>
  <% if posts==[] %>
    <div class="content">
      <p><%= @user.nickname %> hasn't post a complaint yet.</p>
    </div>
  <% else %>
    <% posts.each do |post| %>
      <div class="row content">
        <%= image_tag("forest-fog-wallpaper.jpg", border: 0, size: "450x200") %>
        <div>
          <h3>
            <%= link_to post.title , post_path(post) %>
          </h3>
          <p>
            <%= post.description %>
          </p>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
<% if user_signed_in?  %>
  <% if current_user==@user or current_user.role=="admin" %>
    <div class="row">
      <div style="width: 30%">
        <h3>Favorite posts:<br></h3>
        <div>
          <% followings = FollowPost.where(user_id: @user.id) %>
          <% followings.each do |follow| %>
            <div class="row">
              <h4>
                <%= link_to follow.post.title , post_path(follow.post) %>
              </h4>
              <div>
                <%= link_to "Remove", post_follow_posts_path(follow.post), method: :post %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <div style="width: 30%">
        <h3>Blacklist:<br></h3>
        <div>
          <% blockings = Block.where(owner_id: @user.id) %>
          <% blockings.each do |block| %>
            <div class="row">
              <h4>
                <%= link_to block.blocked.nickname , user_path(block.blocked) %>
              </h4>
              <div>
                <%= link_to 'Unblock', user_blocks_path(block.blocked), method: :post %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <div style="width: 30%">
        <h3>Dumpster:<br></h3>
        <div>
          <% dumpster = Post.where("user_id = ? AND dumped = ?",@user.id,true) %>
          <% dumpster.each do |post| %>
            <div class="row">
              <h4>
                <%= link_to post.title , post_path(post) %>
              </h4>
              <%= form_for(post, method: :put, url: {action: 'recover_post'}) do |form| %>
                <%= form.hidden_field :id, value: @user.id %>
                <%= form.submit "Recover", class: 'btn btn-primary' %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% else %>
  <% end  %>
<% end  %>
