<h1>The Grinch</h1>
<ls><font size=4>Team members:<br/></font></ls>
<body>Raimundo González<br/> Gustavo Vicuña<br/></body>
<br/>
<%= link_to 'User (new)', new_user_path(@user) %>
<%= link_to 'User (index)', users_path %>
<br/>
<%= link_to 'Post (new)', new_post_path(@post) %>
<%= link_to 'Post (index)', posts_path %>
<br/>
<%= link_to 'Comment (new)', new_comment_path(@comment) %>
<%= link_to 'Comment (index)', comments_path %>