<div class="row content">
  <div >
    <%= link_to image_tag("forest-fog-wallpaper.jpg", border: 0, size: "200x150"), post_path(post) %>
  </div>
  <div>
    <div >
      <div>
        <h3>
          <%= link_to post.title , post_path(post) %>
        </h3>
      </div>
      <div class="row">
        <%= link_to image_tag(post.user.user_avatar, border: 0, size: "30x30", class: "img-round"), user_path(post.user) %>
        <div>
          <p>
            <%= link_to post.user.nickname, user_path(post.user) %>
          </p>
        </div>
      </div>
    </div>
    <p>
      <%= post.description %>
    </p>
  </div>
</div>