<h1>Posts</h1>

<p><%= link_to "Advanced Search", new_search_path %></p>

<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Owner</th>
      <th>Location</th>
      <th>Dumped</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= link_to post.title, post %></td>
        <td><%= post.description %></td>
        <td><%= link_to post.user.nickname, post.user %></td>
        <td><%= post.location %></td>
        <td>
          <% if post.dumped %>
            <%= image_tag("Thumbsup.png", alt:"Yes", size: "20x20") %>
          <% else %>
            <%= image_tag("Thumbsdown.png", alt:"No", size: "20x20") %>
          <% end %>
        </td>
        <td><%= button_to 'Edit', edit_post_path(post) , class: "btn btn-primary"%></td>
        <td><% if post.dumped %>
            <%= form_for(post, method: :put, url: {action: 'recover_post', controller: "users"}) do |form| %>
              <%= form.hidden_field :id, value: post.id %>
              <%= form.submit "Recover", class: 'btn btn-primary' %>
            <% end %>
            <% else %>
              <%= link_to 'Dump', post, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-primary" %>
            <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= button_to 'Create New Complaint', new_post_path, class: "btn btn-primary" %>
