<div class="jumbotron">
  <div style="width: 26%">
    <%= image_tag("forest-fog-wallpaper.jpg", border: 0, size: "900x400") %>
  </div>
  <div style="width: 72%">
    <div style="height: 100px">
      <h2>
        <%= @post.title %>
      </h2>
      <h5>
        By
        <%= link_to @post.user.nickname, user_path(@post.user)%>
        at
        <%= @post.location %> (
        <%= @post.created_at.day %>/<%= @post.created_at.month %>/<%= @post.created_at.year %> at <%= @post.created_at.hour %>:<%= @post.created_at.min %>)
      </h5>
    </div>
    <div>
      <p>
        <%= @post.description %>
      </p>
    </div>
    <% if user_signed_in? %>
      <% if @post.user==current_user or current_user.role=="admin"%>
        <%= link_to 'Edit', edit_post_path(@post) %>
        <%= link_to 'Delete', post_path(@post), method: :delete %>
      <% end %>
      <% if @post.user==current_user %>
      <% else %>
        <div class="row">
          <div>
            <%= button_to 'Upvote', post_upvotepost_index_path(@post), method: :post %>
            <%= @post.upvote_count %>
          </div>
          <div>
            <%= button_to 'Downvote', post_downvotepost_index_path(@post), method: :post%>
            <%= @post.downvote_count %>
          </div>
          <div>
            <%= button_to 'Add to Favorites', post_follow_posts_path(@post), method: :post%>
          </div>
          <div>
            <%= button_to 'Report', post_mark_innapropiateds_path(@post), method: :post%>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<div>
  <div>
    <h3>Comments:</h3>
  </div>
  <div>
    <% @comments=Comment.where("post_id = ?",@post.id) %>
    <% @comments.each do |comment| %>
      <div class="row content">
        <div style="width: 15%" class="img-with-text">
          <%= link_to image_tag(comment.user.profile_pic, border: 0, size: "60x60"), home_path %>
          <p>
            <%= link_to comment.user.nickname, user_path(comment.user) %>
          </p>
        </div>
        <div>
          <h5>
            <%= comment.content %>
          </h5>
        </div>
      </div>
    <% end %>
  </div>
</div>