<div class="row jumbotron">
  <div style="width: 18%">
    <img src="" alt="post picture">
  </div>
  <div>
    <h2>
      <%= @post.title %>
    </h2>
    <h5>
      By
      <%= link_to @post.user.nickname, user_path(@post.user)%>
      at
      <%= @post.location %>
    </h5>
    <div>
      <p>
        <%= @post.description %>
        <%= link_to 'Edit', edit_post_path(@post) %>
      </p>
    </div>
  </div>
</div>

<div class="data_field">
  <div>
    <h3>Comments:</h3>
  </div>
  <div>
    <%= @comments=Comment.where("post_id = ?",@post.id) %>
    <%= @comments.each do |comment| %>
      <div class="row">
        <div style="width: 15%">
          <img src="" class="img-circle" alt="commenter profile picture">
        </div>
        <div>
          <h5>
            <%= comment.user.nickname %>
          </h5>
          <p>
            <%= comment.user.content %>
          </p>
        </div>
      </div>
    <% end %>
  </div>
</div>