<div class="jumbotron">
  <% if @post.images.attached?%>
    <div style="width: 26%">
      <%= image_tag(@post.images, border: 0, size: "900x400") %>
    </div>
  <% end %>
  <div style="width: 72%">
    <div style="height: 100px">
      <div class="row">
        <div>
          <h2>
            <%= @post.title %>
          </h2>
        </div>
        <div>
          <div class="row">
            <% @post.post_categories.each do |cat| %>
              <div>
                <p class="category">
                  <%= cat.name %>
                  <% if user_signed_in? %>
                    <% if @post.user==current_user or current_user.role=="admin"%>
                  <%= link_to 'X', remove_category_path(cat.id), method: :delete, data: { confirm: 'Are you sure?' } %>
                    <% end %>
                  <% end %>
                </p>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <h5>
        By
        <%= link_to @post.user.nickname, user_path(@post.user)%>
        at
        <%= @post.location %> (
        <%= @post.created_at.day %>/<%= @post.created_at.month %>/<%= @post.created_at.year %> at <%= @post.created_at.hour %>:<%= @post.created_at.min %>)
      </h5>
    </div>
    <div>
      <p>
        <%= @post.description %>
      </p>
    </div>
    <% if user_signed_in? %>
      <% if @post.user==current_user or current_user.role=="admin"%>
      <% else %>
        <div class="row">
          <div>
            <%= link_to image_tag("Thumbsup.png", border: 0, size: "40x40"), post_upvotepost_index_path(@post), method: :post %>
            <%= @post.upvote_count %>
          </div>
          <div>
            <%= link_to image_tag("Thumbsdown.png", border: 0, size: "40x40"), post_downvotepost_index_path(@post), method: :post%>
            <%= @post.downvote_count %>
          </div>
          <div>
            <%= link_to image_tag("heartonclick.png", border: 0, size: "40x40"), post_follow_posts_path(@post), method: :post%>
          </div>
          <div>
            <%= button_to 'Report', post_mark_innapropiateds_path(@post), method: :post, class: "btn btn-primary"%>
          </div>
        </div>
      <% end %>
    <% end %>
    <% if user_signed_in? %>
      <% if @post.user==current_user or current_user.role=="admin"%>
        <div>
          <%= form_tag('/add_category', method: :post) do %>
            <div class="row">
              <div>
                <%= select_tag :category_id, options_from_collection_for_select(Category.all, "id", "name") %>
                <%= hidden_field_tag :post_id, @post.id %>
              </div>
              <div>
                <%= submit_tag "Add Category", class: "btn btn-primary"%>
              </div>
            </div>
          <% end %>
        </div>
        <div>
          <%= button_to 'Edit', edit_post_path(@post),class: 'btn btn-primary' %>
        </div>
        <div>
          <% if @post.dumped %>
            <%= form_for(@post, method: :put, url: {action: 'recover_post', controller: 'users'}) do |form| %>
              <%= form.hidden_field :id, value: @post.id %>
              <%= form.submit "Recover", class: 'btn btn-primary' %>
            <% end %>
          <% else %>
            <%= button_to 'Delete', post_path(@post), method: :delete, class: 'btn btn-primary'%>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<div>
  <div>
    <h3>Comments:</h3>
  </div>
  <div>
    <% @comments=Comment.where("post_id = ?",@post.id) %>
    <% @comments.each do |comment| %>
      <div class="row content">
        <div style="width: 15%" class="img-with-text">
          <%= link_to image_tag(comment.user.user_avatar, border: 0, size: "60x60"), home_path %>
          <p>
            <%= link_to comment.user.nickname, user_path(comment.user) %>
          </p>
        </div>
        <div>
          <h5>
            <%= comment.content %>
          </h5>
        </div>
        <% if user_signed_in? %>
          <% if comment.user==current_user or current_user.role == "admin"%>
            <div>
              <%= link_to 'Delete', comment_path(comment), method: :delete, data: { confirm: 'Are you sure?' } %>
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
  <% if user_signed_in? %>
    <%  comment = Comment.new %>
    <%= form_with(model: comment, local: true) do |form| %>
      <% if comment.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

          <ul>
            <% comment.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <div class="row">
        <%= form.hidden_field :user_id, value: current_user.id %>
        <%= form.hidden_field :post_id, value: @post.id %>
        <div class="field">
          <%= form.text_field :content %>
        </div>
        <div class="actions">
          <%= form.submit %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>