<!DOCTYPE html>


<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="logos">
      <%= link_to image_tag("logo.png", border: 0, size: "170x150"), home_path %>
      <ul>
        <br>
        <li><%= link_to "The Grinch", root_path, class: 'titulo'%></li>
        <li><%= link_to "For the little Grinch inside us all", root_path, class: 'slogan'%></li>
      </ul>
    </div>
    <form class="navbar-form navbar-left" action="">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search" name="search">
        <div class="input-group-btn">
          <button type="submit" id="searchbutton">Search
            <i class="glyphicon glyphicon-search"></i>
          </button>
        </div>
      </div>
    </form>
    <div class="img-with-text">
      <%if user_signed_in?  %>
        <%= link_to image_tag(current_user.profile_pic, border: 0, size: "120x120"), user_path(current_user) %>
        <ul>
          <li><%= link_to current_user.nickname, user_path(current_user) %></li>
          <li><%= link_to "Log out", destroy_user_session_path, method: :delete  %></li>
        </ul>
      <% else %>
        <%= link_to image_tag("default-user.png", border: 0, size: "120x120"), home_path %>
        <ul>
          <li><%= link_to "Sign in", new_user_session_path , class: "link-header"%></li>
          <li><%= link_to "Sign up", new_user_registration_path, class: "link-header" %></li>
        </ul>
      <% end %>
      
    </div>
  </div>
</nav>
